.footer{
  width:100%;
  padding: 20px 40px;
  background: var(--color-white);
  flex-wrap:wrap;
  gap: 20px;
  overflow: hidden;
}

.footer__logo{
  font-size: 22px;
  font-weight: bold;
  font-family: var(--playfair-display);
  text-transform:uppercase;
  color: var(--secondary-color);
  cursor:pointer;

  span{
    color: var(--primary-color);
  }
}

.footer ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 64px;

  &:last-child{
    gap: 32px;
  }
}

.footer__nav li{
  font-size: 16px;
  font-weight: 500;
  font-family: var(--playfair-jakarta-sans);
  test-transform: uppercase;
  color: var(--secondary-color);
  cursor: pointer;

}

.footer__social li{
  width: 42px;
  aspect-ratio: 1;
  background-color: var(--secondary-color);
  border-radius: 100%;

  img{
    width: 45%;
    height: 45%;
    object-fit: contain;
  }
}